* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #88BDBC;
    --secondary-color: #254E58;
    --tertiary-color: #112D32;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Utility Classes */

.section-title {
    font-size: 35px;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    width: 80%;
    text-align: center;
    margin: 0 auto 20px auto;
    padding-top: 10px;
    
}


/*Header Section */

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background-image: url(.//images/Teal\ Background.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--tertiary-color);
    height: 50%;
    margin-top: 10px;
    width: 100%;
    text-align: center;
     
}


header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 0px 15px;
    font-weight: lighter;
    font-size: 15px;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* End of Header Section */

/* Hero Section */

.hero {
    background-image: url(../assets/images/Teal\ Background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;    
    height: 150px;
}

.hero-subtitle {
    text-align: center;
    color: var(--tertiary-color);
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5); 
    font-style: italic;
    font-size: 30px;
    margin: auto;
    
}

/* Hero End */

/* About Me Start */

#about-me {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#about-me img {
    display: flex;
    width: 50%;    
    margin-bottom: 20px;
}

#about-me p {
    color: var(--secondary-color);
    text-align: center;
    display: flex;

}

/* About Me End */

/* Work Start */

#work {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.run-buddy-image {
    display: flex;
    width: 90%;    
    margin: auto;
    border: 2 solid var(--primary-color);
}

.run-buddy-overlay {
    text-align: center;
    color: var(--tertiary-color);
    margin-bottom: 20px;
} 

.horiseon-image {
    display: flex;
    width: 50%;    
    margin: auto;
    border: 2 solid var(--primary-color);

}

.horiseon-overlay {
    text-align: center;
    color: var(--tertiary-color);
} 

.coming-soon-image {
    display: flex;
    width: 50%;    
    margin: 20px auto;
    border: 5px solid var(--primary-color);

}

.coming-soon-overlay {
    text-align: center;
    color: var(--tertiary-color);
} 
/* Work End */

/* Contact Me Start */

#contact-me {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

footer ul li a {
    padding: 20px;
    font-weight: lighter;
    font-size: 15px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    text-decoration: none;
    color: var(--tertiary-color);
}

/* Media for Computer Monitor */

@media screen and (min-width: 1200px) {

    /* Header */

    header {
        padding: 20px 35px;
    }
    header h1 {
         display: flex; 
         justify-content: space-between; 
         margin: 0;

    }

    header nav ul li a {
        padding: 10px 15px;
        font-weight: lighter;
        font-size: 1.55vw;
        text-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    header nav ul li a:hover {
        background: var(--primary-color);
        color: var(--tertiary-color);
        border-radius: 15px;
        text-shadow: none;
    }
    /* Header end */

    /* About me start */
    #about-me img {
        display: flex;
        width: 25%;    
        margin-bottom: 20px;
    }

    /* About me end */

    /* Run buddy overlay */
    .run-buddy-container {
     position: relative;
        width: 100%;
        max-width: 700px;
    }

    .run-buddy-image {
     display: block;
     width: 100%;
     height: auto;
     border: 5px solid var(--primary-color);
    }

    .run-buddy-overlay {
        position: absolute;
        bottom: 0;
        background: rgb(136,189,188);
        background: rgba(136, 189, 188, 0.9);
        color: var(--tertiary-color);
        width: 100%;
        transition: .5s ease;
        opacity: 1; 
        color: var(--tertiary-color);
        font-size: 20px;
        padding: 20px; 
        text-align: center;
        margin-bottom: 0;
    }

    .run-buddy-container:hover .run-buddy-overlay {
        opacity: 0;
    }
    /*Horiseon overlay  */
    .horiseon-container {
        position: relative;
           width: 90%;
           max-width: 700px;
       }
   
       .horiseon-image {
        display: block;
        width: 90%;
        height: auto;
        border: 5px solid var(--primary-color);
       }
   
       .horiseon-overlay {
           position: absolute;
           bottom: 0;
           background: rgb(136,189,188);
           background: rgba(136, 189, 188, 0.9);
           color: var(--tertiary-color);
           width: 90%;
           transition: .5s ease;
           opacity: 1; 
           color: var(--tertiary-color);
           font-size: 20px;
           padding: 20px; 
           text-align: center;
           margin-bottom: 0;
           left: 35px;
       }
   
       .horiseon-container:hover .horiseon-overlay {
           opacity: 0;
       }
       /* Coming soon overlay */
       .coming-soon-container {
        position: relative;
           width: 90%;
           max-width: 700px;
       }
   
       .coming-soon-image {
        display: block;
        width: 90%;
        height: auto;
        border: 5px solid var(--primary-color);
       }
   
       .coming-soon-overlay {
           position: absolute;
           bottom: 0;
           background: rgb(136,189,188);
           background: rgba(136, 189, 188, 0.9);
           color: var(--tertiary-color);
           width: 90%;
           transition: .5s ease;
           opacity: 1; 
           color: var(--tertiary-color);
           font-size: 20px;
           padding: 20px; 
           text-align: center;
           margin: auto;
           left: 35px;
       }
   
       .coming-soon-container:hover .coming-soon-overlay {
           opacity: 0;
       }

       /* Footer start */

       #contact-me {
           margin-top: 5px;
       }

       footer ul li{
           justify-content: space-between;
           margin: 0px 5px;
       }
}

@media screen and (min-width: 768px) {
    /* Header Section */

    
    header h1 {
        font-size: 40px;
    }

    header ul li {
        font-size: 40px;
    }
    /* about me section */

    #about-me img{
       width: 35%;
    }
    #about-me p {
        font-size: 30px;
    }

    /* footer */

    #contact-me ul li {
        justify-content: space-between;
        margin: 0px 5px  ;
    }
}